
<main class="mainForm">

    <h2>
        Registrate
    </h2>

    <div class="div-form">

        <form id="form">

            <input type="text" id="name" placeholder="Nombre">
            <input type="text" id="surname" placeholder="Apellido">
            <input type="email" id="email" placeholder="Correo">
            <input type="text" id="url" placeholder="Url">
            <input type="password" id="password" placeholder="Contraseña">                 
            <input type="password" id="passwordTwo" placeholder="Repetir Contraseña">                 
            
            <div class="btns">
                
                <a id="btn__registrar" href="#">Registrarse</a>
        
            </div>
        
        </form>

    </div>

</main>


