<div class="contenedorPpal">

    <main class="mainAdd d-flex flex-column">
    
        <h2>
            Editar Libro
        </h2>
    
        <div class="div-form">
    
            <form class="formulario">
    
                <input type="text" placeholder="Libro ID" #id_libro>
                <input type="text" placeholder="Usuario ID" #id_usuario>
                <input type="text" placeholder="Titulo" #titulo>
                <input type="text" placeholder="Tipo de Libro" #tipo>
                <input type="text" placeholder="Autor" #autor>
                <input type="text" placeholder="Precio" #precio>
                <input type="text" placeholder="Url Foto" #url>                 
                
                <div class="btns">
                    
                    <a id="btnAdd"
                    (click)="editar(id_libro.value, id_usuario.value, 
                                    titulo.value, tipo.value, autor.value, precio.value, url.value)" 
                    >
                        Editar
                    </a>
            
                </div>
            
            </form>
    
        </div>
    
    </main>

</div>
